.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn-icon{
  font-size: 25px !important;
  padding: 0 8px !important;
}
.btn-icon-edit{
  font-size: 17px !important;
}
